<%= form_for @picture, html: {class: 'form-horizontal'} do |f| %>

    <div class="form-group">
        <%= f.label :title, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :image, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :image, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: 'btn btn-default' %>
      </div>
    </div>

<% end %>