<div class="row">
  <div class="col-sm-12 products-pagination">
    <%= will_paginate @pictures %>
  </div>
</div>

<% @pictures.each do |picture| %>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= link_to picture.title, picture_path(picture) %></h3>
        <div class="img">
          <%= image_tag picture.image.url(:medium) %>
        </div>
        <h4>By: <%= picture.user.name %></h4>
      </div>
    </div>
  </div>

<% end %>


<br/>

<%= link_to 'edit password', edit_user_password_path %>






