<div class="row">
    <div class="col-sm-6 product-item">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><%= @picture.title %></h1>
        </div>
        <div class="panel-body">

            <%= image_tag @picture.image.url(:origin) %>
          <h3>Average score: <%= @average.to_f %></h3>

          <h4>By: <%= @picture.user.name %></h4>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
      <% if user_signed_in? %>
          <%= form_for @note, :url => { :action => 'create_comment', html: {class: 'form-horizontal'} } do |f| %>
              <%= f.hidden_field :picture_id, :value => @picture.id %>


              <div class="form-group">
                <%= f.label 'Rate photo' %>
                <%= f.select :rate, (1..5), class: 'form-control' %>
              </div>

              <div class="form-group">
                <%= f.label 'Add your comment:' %>
                <div class="col-sm-10">
                    <%= f.text_area :description %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-10">
                    <%= f.submit 'Comment', class: 'btn btn-default' %>
                </div>
              </div>

          <% end %>
      <% end %>
    </div>
</div>

<hr/>

<div class="ro">
  <div class="col-sm-6">
        <% @notes.each do |note| %>
            <% if note.picture_id == @picture.id %>

                <div class="panel panel-default">
                  <div class="panel-heading"> by: <%= note.user.name %> <br/> score: <%= note.rate %></div>
                  <div class="panel-body">
                    <%= note.description %>
                  </div>
                </div>
            <% end %>
        <% end %>
  </div>
</div>


<hr/>
