<h1><%= @user.name %>'s page</h1>

<diw class="row">
  <% @user.pictures.each do |picture| %>
      <diw class="col-sm-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h1><%= link_to picture.title, picture_path(picture) %></h1>
              </div>
              <div class="panel-body">
                <div class="img">
                  <%= image_tag picture.image.url(:medium) %>
                </div>
              </div>
            </div>

      </diw>
  <% end %>
</diw>