<!DOCTYPE html>
<html>
<head>
  <title>Photo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/application/navbar' %>

<div class="container">

  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-default" id="cart">
        <div class="panel-heading">
          <h3 class="panel-title">Galleries of users</h3>
        </div>
        <div class="panel-body">
          <ul>
            <% User.all.each do |user| %>
                <li><%= link_to user.name, pictures_user_path(user) %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% if user_signed_in? %>
          <div class="col-sm-3">
            <%= link_to 'Add new photo', new_picture_path, class: 'btn btn-success' %>
          </div>
      <% end %>
    </div>


    <div class="col-sm-9">

      <% flash.each do |type, message| %>
          <%= content_tag :div, message, class: "alert alert-#{type}" %>
      <% end %>

      <%= yield %>

    </div>

  </div>



</div>


</body>
</html>
